body{
    background-color: rgba(0, 0, 0, 0.603);
}
.todo-list{
    background-color: #1f1f61;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color:black;
    padding: 20px;
}
h1{
    text-align: center;
    color: red;
}
input{
    width: 50%;
    padding: 5px;
    font-size: 15px;
    border: 10px solid #347210;
    border-radius: 20px;
}
